/*------------MAIN----------------*/
main {
	text-align: center;
}

/*-------------BODY---------------*/
body {
	text-align: center;
}

#days {
	margin-top: 20px;
	margin-bottom: 20px;
}

#days {  /* temperatures */
	margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
}

#days td, #days th {
    border: 1px solid #ddd;
    padding: 6px;
	text-align: center;
}

#days th { /* day1, day2, ... */
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #0066cc;
    color: white;
}

article p.town-article {
	padding: 10px;
	max-width: 960px;
	text-align: justify;
}

@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here. 64em = 1024px */
  
  article p.town-article img { width: 29.333%; }
}

/*-----------FOOTER---------------*/
footer {
	background: #b3d9ff;
	text-align: center;
	padding-top: 10px;
}

/* This structure refers to p elements that are direct children of the footer element */
footer>p {
	background: #0066cc;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
} 

